.inputbox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border:2px solid darkviolet;
  border-radius: 5px;
}


.login { 
  margin-left:35%;
  margin-top: 10%;
}

.button{
  margin:25px ;
  padding:7px ;
  width: 150px ;
  background-color:aquamarine ;
  border: 2px solid darkviolet;
  border-radius: 5px;
  cursor: pointer;
}