nav{
    display: flex;
    flex-direction:column;
    padding: 10px ;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

}
nav svg{
     width: 25px;
     height :25px;
     cursor: pointer;
}
nav  svg:hover{
    color: var(--col1);
}
nav .s1{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 100px;
}

.s2{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
  
.s2 > a{
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.s2 > a:hover{
  color: var(--col1);
}