.home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .chart img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
    
  .description h2 {
    margin-bottom: 10px;
  }
  
  .description p {
    color: #555;
  }
  